@use "../../styles/typography.scss";

.habit-item {
  height: 64px;
  width: 100%;
  gap: 16px;
  padding: 13px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &_selected, &:hover {
    background-color: var(--selected-item-color);
    border-radius: 16px;
  }

  &_removed .check-box input[type=checkbox] {
    border: none;
    box-shadow: inset 1em 2em var(--accent-light);;
  }

  .strikethrough {
    text-decoration: line-through;
  }
}

.check-box input[type=checkbox] {
  border: solid var(--disabled);
  box-shadow: none;
}