@use "../../styles/typography.scss";

.input-component {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 90%;
    height: 56px;
    border: 1px solid var(--placeHolder);
    border-radius: 16px;
    padding: 10px;
    margin: 20px;

    &__label {
        height: 16px;
        position: absolute;
        top: -10px;
        left: 10px;
        color: var(--secondary);
        padding: 0 5px;
        @include typography.note;
        background-color: var(--main-panel-background-color);

        //&_inside {
        //    top: 10px;
        //    background-color: transparent;
        //    color: var(--primary);
        //}
    }

    &__input {
        width: 100%;
        height: 20px;
        border: none;
        outline: none;

        background: transparent;
        color: var(--secondary);
        @include typography.secondary;
    }

    &__button {
        background-color: transparent;
        border: none;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary);
        background-color: transparent;
        border: none;
    }
}