
.switch-button {
  &__label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &__toggle-switch {
    display: flex;
    background-color: var(--disabled);
    align-items: flex-start;
    border: solid 1px var(--disabled);
    border-radius: 24px;
    width: 40px;
    height: 24px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;

    &::before,
    &::after {
      content: "";
    }

    &::before {
      display: block;
      background: var(--primary);
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
      width: 20px;
      height: 20px;
      position: absolute;
      top: 1px;
      left: 1px;
      transition: left 0.25s;
    }
  }

  &__toggle-checkbox:checked + &__toggle-switch {
    background-color: var(--accent);
    &::before {
      left: calc(100% - 21px);
    }
  }

  &__toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
}
