@use '../../styles/typography.scss';

.timer {
    position: relative;
    width: 360px;
    height: 360px;


&__circle {
    fill: none;
    stroke: var(--accent);
    stroke-dasharray: 440;
    transition: stroke-dashoffset 250ms linear;
    transform-origin: center center;
    transform: rotate(-90deg);
}

&__text {
    @include typography.header3;
    text-anchor: middle;
    fill: var(--primary);
    dominant-baseline: middle;
}

@keyframes countdown {
    0% {
        stroke-dashoffset: 440;
    }

    100% {
        stroke-dashoffset: 0;
    }
}
}