@use "../../styles/typography.scss";

.emoji-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 56px;
    border: 1px solid var(--placeHolder);
    border-radius: 16px;
    padding: 10px;
    margin: 8px;

    &__label {
      height: 16px;
      position: absolute;
      top: -10px;
      left: 10px;
      color: var(--secondary);
      padding: 0 5px;
      @include typography.note;
      background-color: var(--main-panel-background-color);

    }

  &__body {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    @include typography.secondary;
  }


    &__input {
      width: 90%;
      height: 20px;
      border: none;
      outline: none;

      margin: 12px 48px 8px 8px;
      background: transparent;
      color: var(--secondary);
      @include typography.secondary;
    }

    &__button {
      background-color: transparent;
      border: none;
    }


  &__emoji {
      font-size: 36px;
  }

  .icon {
    color: var(--primary);
  }

}