@use "../../styles/typography.scss";

.aside-panel-menu-item  {
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: 1fr auto;
    align-items: center;

    width: 288px;
    height: 40px;

    box-sizing: border-box;

    padding: 5px 65px 5px 8px;
    
    cursor: pointer;

    color: var(--dark-theme-primary);

    text-decoration: none;
    border-color: transparent;
    background-color: var(--aside-panel-menu-background-color);

    &_selected, &:hover {
        background: var(--aside-panel-menu-selected-item-color);
        border-radius: 16px;
    }
    
    &:hover {
        background-color: var(--aside-panel-menu-hover-item-color);
    }

    .icon {
        font-size: 24px;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 215px;
        height: 20px;
        @include typography.secondary;
    }

    .counter__value{
        display: flex;
        justify-content: center;
        align-items: center;
     
        width: 49px;
        height: 24px;
       
        background-color: var(--dark-theme-disabled);
        color: var(--dark-theme-secondary);
        border-radius: 24px;
        padding: 4px 8px;
    }

}



  

  

