@use '../../styles/typography.scss';

.pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--main-panel-background-color);
    color: var(--primary);

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        width: 171px;
        height: 42px;

        padding: 8px 0 8px 40px;
        margin-top: 48px;
        margin-bottom: 24px
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        h6 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include typography.header6;

            width: 488px;
            height: 20px;
            margin: 16px 0 2px 0;
        }

        p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include typography.note;
            color: var(--secondary);

            width: 488px;
            height: 16px;
            margin: 0 0 29px 0;
        }

        button {
            @include typography.header6;
            color: var(--primary);
            cursor: pointer;

            background-color: var(--accent);
            border-color: transparent;
            border-radius: 32px;

            width: 146px;
            height: 48px;
        }
    }
};