$gap: 20px;


.priority-switch-button {
  &__slider {
    position: absolute;
    width: calc(100% / 3.04);
    height: 37px;
    margin: 1px;
    border-radius: 24px;
    transition: transform .4s ease;
    background-color: var(--disabled);
    will-change: transform;

    &.position-high {
      transform: translateX(calc(-100% - 1px));
    }

    &.position-medium {
      transform: translateX(0);
    }

    &.position-low {
      transform: translateX(calc(100% + 1px));
    }

    //&.position-high {
    //  left: 0;
    //}
    //
    //&.position-medium {
    //  left: calc(100% / 3);
    //}
    //
    //&.position-low {
    //  left: calc((100% / 3) * 2);
    //}

    //&:has(~ .radio-button > .radio-button__input[name="High"]:checked) {
    //  left: 0
    //}
    //
    //&:has(~ .radio-button > .radio-button__input[name="Medium"]:checked) {
    //  left: calc(100% / 3);
    //}
    //
    //&:has(~ .radio-button > .radio-button__input[name="Low"]:checked) {
    //  left: calc((100% / 3) * 2);
    //}
  }
}

