@use "../../styles/typography.scss";

.profile-personal-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;

    li {
        list-style: none;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__done-button {
        width: 384px;
        height: 48px;

        margin-top: 36px;

        background-color: var(--accent);
        @include typography.header6;
        color: var(--primary);

        border-radius: 54px;
        border: none;
        cursor: pointer;
    }
}