@use "../../styles/typography.scss";

.profile-customization-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;

    h4 {
        @include typography.header4;
        color: var(--primary);
        margin: 24px;
    }


    &__form {
        width: 512px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__theme-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        height: 180px;
    }

    &__color-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: 10px;

        width: 384px;
        height: 64px;
    }





}