@use "../../styles/typography.scss";

.profile-subscription-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;

  background-color: transparent;
  color: var(--primary);

  h4 {
    margin: 24px;
  }

  h6 {
    @include typography.header6;
    color: var(--primary);
    margin: 0;
    padding: 0;
  }

  p {
    @include typography.note;
    color: var(--placeHolder);
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    p {
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 0;
    }
  }

  .colorful-wide-button {
    margin-top: -8px;
  }
}