@use '../../styles/typography.scss';

.transparent-wide-button {
  width: 384px;
  height: 48px;
  display: flex;
  padding: 14px 16px;
  border-radius: 32px;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include typography.header6
}
